.imagenTexto{ 
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: 
        "texto1 imagen"
        "texto2 imagen"
        "texto3 imagen"
        "texto4 imagen";

.texto1{
        grid-area: texto1;
}
.texto2{
        grid-area: texto2;
}
.texto3{
        grid-area: texto3;
}
.texto4{
        grid-area: texto4;
}

.foto1{
        grid-area: imagen;
        width: 600px;
        padding-left: 30px;
}}

.negrita{
        font-weight:600;}



@media screen and (max-width: 480px) {
        .imagenTexto{ display: block ;
        }
        .foto1{ 
                padding: 0px;
                width: 400px;
                justify-content: center;
                margin-bottom: 30px;
        }
        .video{ 
                width: 400px;
        }} 
