.container-fluid{background-color:#29243a;
    color: white;
    font-size: 20px;
}

.navbar-toggler{background-color: orange;
}

.nav-link{color: white;
}

.logo{ width: 200px;
    display: inline-block;
    margin-left: 20px;
}

a {font-size: 20px;
    display: block;
    color: white;
    text-decoration: none;
}
