.fotoFechas{
    width: 800px;
    display: flex ;
    justify-content: center;
    margin-left: 90px;
    margin-bottom: 40px;
    &:hover{
        width: 1000px
    }
}

.fechaImportante{
        background-color: rgb(41, 36, 58);
        background-repeat: repeat;
        padding: 0;
        display: grid;
        
        h2{ 
        text-align: center;
        font-size: 36px;
        }
        
        h3{
            text-align: center;
            font-size: 20px;
        }
        
        input { 
            width: 100px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
}

.botonImportante{
    justify-self: center;
    }

.tour{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "lugar dia boton"
}
        
        .lugar{
            grid-area: lugar;
            justify-self: start;
            }
        .dia{
            grid-area: dia;
            justify-self: center;
        }
        .btn{grid-area: boton;
        background-color: orange;
        color: white;
        justify-self: end;
        width: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        }

@media screen and (max-width: 480px) {   
    .fotoFechas{ 
        width: 400px;
        margin-left: 0px;
    }
}
